.card-image{
    width: 100%;
    max-width: 300px;
    height: 100%;
    max-height: 300px;
}
.card-title{
    font-weight: bold;
    font-size: x-large;
}
.form-title{
    text-align: center;
}
.detail_img{
    width: 100%;
    max-width: 500px;
    height: 100%;
    max-height: 500px;
}
.detail_header{
    font-weight:bold;
    font-size: xx-large;
}
.iframe-container {
    text-align: center;
    width: 100%;
}
.jumbotron{
    background-position: center;
    background-size: cover;
    /*background-repeat: no-repeat;*/
    /*display: flex;*/
    /*object-fit: cover;*/
    /*width: 1366px;*/
    height: 493px;
    /*background-image: url('../../static/journey/mountainMD.jpg');*/
}
.no-padding{
    padding-right: 0px;
    padding-left: 0px;
}
.underline-home {
    text-decoration: underline;
    text-decoration-color: #CF755A;
    text-decoration-thickness: 2px;
    text-underline-offset: .2em;
}
.aboutus{
    font-size: 51pt;
    padding-bottom: 16px;
    line-height: 63pt;
    font-family: raleway, sans-serif;
    font-weight: 700;
    font-style: normal;
}
.story{
    line-height: 26pt;
    max-width:  592px;
    font-family: source-serif-pro, serif;
    font-weight: 400;
    font-style: normal;
}
.ourstory{
    padding-left: 132px;
    /*padding-right: 66px;*/
}
.storybox{
    padding-top: 91px;
}
.active-img{
    height: 283px;
    width: 355px;
    object-fit: cover;
}
.inactive-img{
    opacity: 40%;
    height: 205px;
    width: 259px;
    object-fit: cover;
}
.thumb1{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.thumb2{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.thumb3{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.arrows{
    border: transparent;
}
.lk{
    font-size: 56pt;
    /*padding-bottom: 16px;*/
    line-height: 63pt;
    font-family: raleway, sans-serif;
    font-weight: 700;
    font-style: normal;
}
.lk-date{
    font-size: 45pt;
    /*padding-bottom: 16px;*/
    line-height: 53pt;
    font-family: raleway, sans-serif;
    font-weight: 400;
    font-style: normal;
}
.ourpics{
    padding-left: 100px;
}
.padr125{
    max-width: 1920px;
    margin-left: 200px;
}

.footer{
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #AEC1BA;
    color: white;
    /*height: 75px;*/
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar{
    max-width: 1920px;
    margin: auto;
    padding-left: 132px;
}
.loginout{
    background-image: url(loginout.jpg);
    border: none;
    width: 144px;
    height: 48px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 18pt;
    line-height: 21pt;
    font-family: raleway, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #FCFCFC;
}
.nav-link{
    font-family: raleway, sans-serif;
    font-weight: 600;
    font-style: normal;
    line-height: 22pt;
    font-size: 18pt;

}
.nav-item{
     margin-right:35px;
 }
.adv-dd-item{
    font-family: raleway, sans-serif;
    font-weight: 600;
    font-style: normal;
    line-height: 22pt;
    font-size: 18pt;
}
.dropdown-menu{
    background-color: #CF755A;
    border-radius: 20px 20px 20px 20px;
}
.dropdown-item{
    color: #FFFFFF;
}
.dropdown-divider{
    color: #FFFFFF;
    height: 10px;
}
.login{
    font-family: raleway, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 14pt;
}
.banner-modal{
    max-width: fit-content;
}
.banner-modal-placement{
    position: fixed;
    display: flex;
    justify-content: center;
    left: 50%;
    top: 33%;
    transform: translate(-50%, -50%);
    width: 1500px;
    height: auto;
}
.modal-title{
    font-size: 34pt;
    line-height: 45pt;
    font-family: raleway, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #CF755A;
    padding-left: 0;
}
.modal-info{
    line-height: 25pt;
    font-family: source-serif-pro, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18pt;
}
.adv-taken{
    font-size: 50pt;
    line-height: 45pt;
    font-family: raleway, sans-serif;
    font-weight: 700;
    font-style: normal;
}
html,body {
    position:relative;
    margin:0;
    padding:0;
    overflow:auto;
}
.adv-title{
    font-family: raleway, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 14pt;
    line-height: 12pt;
    color: #CF755A;
}
.adv-loc-dt{
    font-family: source-serif-pro, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12pt;
    line-height: 14pt;
    color: #737373;
}
.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.modal-dialog {
    display: inline-block;
    vertical-align: middle;
}

.modal .modal-content {
    padding: 0;
    -webkit-animation-name: modal-animation;
    -webkit-animation-duration: 0.5s;
    animation-name: modal-animation;
    animation-duration: 0.5s;
}
@-webkit-keyframes modal-animation {
    from {
        top: -100px;
        opacity: 0;
    }
    to {
        top: 0px;
        opacity: 1;
    }
}

@keyframes modal-animation {
    from {
        top: -100px;
        opacity: 0;
    }
    to {
        top: 0px;
        opacity: 1;
    }
}
