.card{
    background-color: blanchedalmond;
    border: none;
}
.card-image{
    width: 100%;
    max-width: 300px;
    height: 100%;
    max-height: 300px;
}
.card-title{
    font-weight: bold;
    font-size: x-large;
}
.form-title{
    text-align: center;
}
.detail_img{
    width: 100%;
    max-width: 500px;
    height: 100%;
    max-height: 500px;
}
.detail_header{
    font-weight:bold;
    font-size: xx-large;
}
.iframe-container {
    text-align: center;
    width: 100%;
}
.jumbotron{
    background-position: center;
    background-size: cover;
    /*background-repeat: no-repeat;*/
    /*display: flex;*/
    /*object-fit: cover;*/
    /*width: 1366px;*/
    height: 493px;
    background-image: url('../../static/journey/mountainMD.jpg');
}
.no-padding{
    padding-right: 0px;
    padding-left: 0px;
}
.underline {
    text-decoration: underline;
    text-decoration-color: #CF755A;
    text-decoration-thickness: 2px;
    text-underline-offset: .2em;
}
.aboutus{
    font-size: 51pt;
    padding-bottom: 16px;
    line-height: 63pt;
    font-family: raleway, sans-serif;
    font-weight: 700;
    font-style: normal;
}
.story{
    line-height: 26pt;
    max-width:  592px;
    font-family: source-serif-pro, serif;
    font-weight: 400;
    font-style: normal;
}
.ourstory{
    padding-left: 132px;
    /*padding-right: 66px;*/
}
.storybox{
    padding-top: 91px;
}
.active-img{
    height: 283px;
    width: 355px;
    object-fit: cover;
}
.inactive-img{
    opacity: 40%;
    height: 205px;
    width: 259px;
    object-fit: cover;
}
.thumb1{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.thumb2{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.thumb3{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.arrows{
    border: transparent;
}
.lk{
    font-size: 56pt;
    /*padding-bottom: 16px;*/
    line-height: 63pt;
    font-family: raleway, sans-serif;
    font-weight: 700;
    font-style: normal;
}
.lk-date{
    font-size: 45pt;
    /*padding-bottom: 16px;*/
    line-height: 53pt;
    font-family: raleway, sans-serif;
    font-weight: 400;
    font-style: normal;
}
.ourpics{
    padding-left: 100px;
}
.padr125{
    max-width: 1920px;
    margin-left: 200px;
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #AEC1BA;
    color: white;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar{
    max-width: 1920px;
    margin: auto;
    padding-left: 132px;
}
.loginout{
    background-image: url(loginout.jpg);
    border: none;
    width: 144px;
    height: 48px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 18pt;
    line-height: 21pt;
    font-family: raleway, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #FCFCFC;
}
.nav-link{
    font-family: raleway, sans-serif;
    font-weight: 600;
    font-style: normal;
    line-height: 22pt;
    font-size: 18pt;

}
.nav-item{
     margin-right:35px;
 }
.adv-dd-item{
    font-family: raleway, sans-serif;
    font-weight: 600;
    font-style: normal;
    line-height: 22pt;
    font-size: 18pt;
}
.dropdown-menu{
    background-color: #CF755A;
    border-radius: 20px 20px 20px 20px;
}
.dropdown-item{
    color: #FFFFFF;
}
.dropdown-divider{
    color: #FFFFFF;
    height: 10px;
}
.login{
    font-family: raleway, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 14pt;
}