body{
    background-color: blanchedalmond;
}
.nav-link{
    color: white;
}
.card{
    background-color: blanchedalmond;
    border: none;
}
.card-image{
    width: 100%;
    max-width: 300px;
    height: 100%;
    max-height: 300px;
}
.card-title{
    font-weight: bold;
    font-size: x-large;
}
.form-title{
    text-align: center;
}
.detail_img{
    width: 100%;
    max-width: 500px;
    height: 100%;
    max-height: 500px;
}
.detail_header{
    font-weight:bold;
    font-size: xx-large;
}
.iframe-container {
    text-align: center;
    width: 100%;
}
.jumbotron{
    background-position: center;
    background-size: cover;
    /*background-repeat: no-repeat;*/
    /*display: flex;*/
    /*object-fit: cover;*/
    /*width: 1366px;*/
    height: 493px;
    background-image: url('../../static/journey/mountainMD.jpg');
}
.no-padding{
    padding-right: 0px;
    padding-left: 0px;
}
.underline {
    text-decoration: underline;
    text-decoration-color: #CF755A;
    text-decoration-thickness: 2px;
    text-underline-offset: .2em;
}
.aboutus{
    font-size: 51pt;
    font-weight: bold;
    padding-bottom: 16px;
    line-height: 63pt;
    font-family: 'Raleway';
}
.story{
    font-family: 'Source Serif Pro';
    line-height: 18pt;
    line-height: 26pt;
    max-width:  592px;
}
.blankspace150{
    height: 100px;
}
.blankspace15{
    height: 15px;
}
.ourstory{
    padding-left: 132px;
    padding-right: 66px;
}
.ourpics{
    padding-right: 30px;
    padding-left: 10px;
}
.ourstorypics{
    max-height: 50pc;
}
.fit-image{
    height: 200px;
    width: 252px;
    object-fit: cover;
}
.fit-image-wide{
    height: 200px;
    width: 528px;
    object-fit: cover;
}
.storybox{
    padding-top: 91px;
}
.picturebox{
    padding-top: 66px;
}
