container_commands:
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && python OurJourney/manage.py migrate --noinput"
    leader_only: true

  02_createsu:
    command: "source /opt/python/run/venv/bin/activate && python OurJourney/manage.py createsu"
    leader_only: true

  03_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python OurJourney/manage.py collectstatic --noinput"

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "OurJourney.settings"
    "PYTHONPATH": "/opt/python/current/app/OurJourney:$PYTHONPATH"
    "ALLOWED_HOSTS": ".elasticbeanstalk.com"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: OurJourney/OurJourney/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:environment:proxy:staticfiles":
    /html: "www/static/"