<!doctype html>
{% extends 'journey/base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
{% block body %}
<div class="container-fluid">
    <div class="row no-gutters">
        <div class="col">
            <div
                    class="jumbotron jumbotron-image p-5 text-end d-flex justify-content-end align-items-end  no-padding"
                    style="
                  background-image: url('https://www.robin-noorda.com/uploads/1/6/8/3/16830688/3347022_orig.jpg');
                "
            >
                    <div class="d-flex justify-content-end align-items-end">
                        <div class="text-white">
                            <h1 class="mb-3">Lauren & Kyle</h1>
                            <h4 class="mb-3">09.19.2020</h4>
                        </div>
                    </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <div class="row blankspace"></div>
            <div class="row">
                <div class="underline aboutus">About Us</div>
                <h6 class="story">Just two kids who fell in love and want to explore the
                    world together. Being in a long distance relationship has
                given us a wide range of places to explore. We want to
                document our journey together so we can look back on
                our adventures and hold those memories forever</h6>
            </div>
            <div class="row"></div>
        </div>
        <div class="col-md-4">
            <div class="container">
                <div class="row blankspace"></div>
                <div class="row">
                    <div class="column"
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
</body>
</html>
