<!doctype html>
{% extends 'journey/base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
{% block body %}
<div
        class="jumbotron jumbotron-image p-5 text-end d-flex justify-content-end align-items-end"
        style="
      background-image: url('https://www.robin-noorda.com/uploads/1/6/8/3/16830688/3347022_orig.jpg');
    "
>
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
        <div class="d-flex justify-content-center align-items-center h-100">
            <div class="text-white">
                <h1 class="mb-3">Lauren & Kyle</h1>
                <h4 class="mb-3">09.19.2020</h4>
            </div>
        </div>
    </div>
</div>
{% endblock %}
</body>
</html>
